name: Dacapo Tests

on:
  pull_request:
    branhes:
      - master

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      # Checkout repos and submodules
      - uses: actions/checkout@v2
        with:
          # CI_ACCESS_TOKEN is a secret set with the repo
          token: ${{ secrets.CI_ACCESS_TOKEN }}
          submodules: true
      - name: Setup Environments
        run: ./.github/scripts/ci-setup.sh

      # Run the tests
      - name: Dacapo Tests
        run: ./.github/scripts/ci-test.sh